body {
	font-family: Arial;
}
.form-control-dark {
	border: 0px;
	color: #fff;
    background-color:rgba(255,255,255,0.1);
	}
	
.list-group {
		border-radius: 0px;
	}
.workrow_summary .workrow_box {
		font-weight: 450;
		font-family: Segoe, 'Segoe UI', 'DejaVu Sans', 'Trebuchet MS', Verdana, 'sans-serif';
		font-size: 12px;
		display: inline;
		margin: 2px;
		margin-right: 0px;
		margin-top: 3px;
		display: inline-block;
		height: 21px;
		width: 32px;
		vertical-align:text-bottom;
		text-align: center;

		border: 1px dotted gray;
		padding-top: 3px;
	}
	.order_details td {
		border: 1px solid gray;
	}
	.searchResults{
		width: 800px;
		position: absolute;
		left: 0;
		top: 35px;
		background-color: #fff;
		border: solid 1px #999;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		display:none; 
		margin-left: 250px; 
		margin-top: 15px; 
		z-index: 100000;
	}	
	
	.searchRow{
		padding: 5px;
    	border-bottom: dotted 1px #999;
		color: black;
	}
	.searchRow.active, .searchRow:hover{
		color: black;
		background-color: #cccccc;
		cursor: pointer;
	}
	.searchRow span {
		color:black;
		text-decoration-color: black;
	}
	.details_of_order {
		padding: 10px;
	}
	.active_details_top_part {
		border-color: gray;
		border-top: 2px solid;
		border-left: 2px solid;
		border-right: 2px solid;
		
	}
	.active_details_bottom_part {
		border-color: gray;
		border-bottom: 2px solid;
		border-left: 2px solid;
		border-right: 2px solid;
	}
/* CSS Document */

.maintable {

	margin-top: 60px;
}

.date_row {
	border-bottom: 0px solid black;
	font-weight: bold;
	margin-left: -100px;
	background-color:#ECECEC
}