* {
    margin: 0;
    padding: 0;
}
body {

    font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";

}
.clearfix {
    clear: both;
}
::-webkit-scrollbar { width: 2px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 0px; background-color: #666; border-radius: 0px;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #666;}

.columns-common-options {
    padding: 0.5% 0.5%;
    box-sizing: border-box;
    float: left;
    position: fixed;
    height: 100%;
    display: block;
    overflow-y: scroll;
}
.mainmenu {
    padding: 5px;
    box-sizing: border-box;
    display: block;
    position: fixed;
    overflow: hidden;
    width: 4%;
    background-color: #e4e6e8;
    float: left;
    height: 100%;
}


.first-column {
    width: 40%;
    margin-left: 4%;
    background-color: #f9f9f9;
    overflow-y: scroll;
}

.second-column {
    width: 56%;
    margin-left: 44%;
    background-color: #cccccc;
}

.content-row-wrapper {
    overflow: hidden;
    line-height: 28px;
    width: 100%;
    display: block;
    /*height: 28px;*/
    border-bottom: 1px solid #e7e7e7 ;
}

.content-row-wrapper:hover {
    background-color: #e4e6e8;
}

.content-row-blocks {
    box-sizing: border-box;
    font-size:16px;
    float: left;
    display: inline-block;
    height: 28px;
}

.content-row-wrapper .word{
    font-size: 12px;
    font-weight: 600;
    width: 11px;
}
.content-row-wrapper .number {
    font-weight: 600;
    width: 43px;
}
.content-row-wrapper .description {
    width: 300px;
    font-weight: 300;

}
.content-row-wrapper .contragent {
    margin-right: 10px;

    white-space: nowrap;
    width: 140px;
    overflow: hidden;
}
.content-row-wrapper .money {
    text-align: right;
    width: 50px;
}
.trafficlights {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 10px;
    text-transform: uppercase;
    width: 30px;
}
.trafficlights-green {
    background-color: #C9E2CD;
}
.trafficlights-yellow {

}
.trafficlights-red {

}