


.clearfix {
	clear: both;
}
/*::-webkit-scrollbar { width: 2px;}
::-webkit-scrollbar-button {  background-color: #666; }
::-webkit-scrollbar-track {  background-color: #999;}
::-webkit-scrollbar-track-piece { background-color: #ffffff;}
::-webkit-scrollbar-thumb { height: 0px; background-color: #666; border-radius: 0px;}
::-webkit-scrollbar-corner { background-color: #999;}}
::-webkit-resizer { background-color: #666;}*/

.header_wrapper_showlist {
	display: flex;
	white-space: nowrap;
	position: fixed;
	padding: 10px;
	z-index: 100000;
	top:0;
	left: 120px;

	background-color: rgba(255, 255, 255, 0.9);
}
.search-button {
	display:inline-block;
	padding-left: 5px;
	padding-right: 5px;
	height: 30px;
	line-height: 30px;
	box-sizing: border-box;
	background-color: #212121;
	margin-left: 5px;
	border-radius: 2px;
	opacity: 0.35;

}
.header_wrapper_showlist a {
	text-decoration: none;
	color: white;
}
.universal-search-string {
	background-color: #ededed;
	padding-left: 5px;
	height: 30px;
	line-height: 30px;
	font-size: 16px;
	/*width: 400px;*/
}

.button-active {
	opacity: 1!important;
}
.header-block {
	display: inline-block;
	box-sizing: border-box;
}
.searchResults_showlist {

	top: 50px;
	left: 100px;
}
.maintable {
	margin: 5px;
	width: 100%;
/*	display: block;*/
	overflow: hidden;
}
/*.stroka {
	background-color: #faf9f8;
}*/
.maintable-row-wrapper {

	cursor: pointer;
	margin-left: 12px;
	/*cursor: pointer;*/
	box-sizing: border-box;
	padding-left: 10px;
	padding-top: 1px;
	padding-bottom: 1px;
	overflow: hidden;
	line-height: 26px;
	display: table;
	table-layout: fixed;
	width: 97%;
	border-bottom: 1px dotted #8c8c8c;
}

.maintable-row-wrapper:hover/* not.read-less*/{
	/*outline: 1px solid black;*/
	/*background-color: #d6d7dc;*/
	/*	opacity: 0.75;*/
	/*-webkit-box-shadow: inset 2px 0 0 #dadce0, inset 0px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(200,200,200);*/
	background-color: #f3f3f3;


}
.maintable-row-wrapper-ready,.maintable-row-wrapper-ready:hover {
	color: gray;
	background: rgb(232, 246, 232) !important;

}



.maintable-row-wrapper-date {
	margin-left: 0px!important;
	margin-top: 8px;
	border: none!important;
	padding: 0;
	padding-bottom: 0px;
	font-weight: 300;
	box-sizing: border-box;
	/* background-color: #ededed!important; */
	border-bottom: 2px solid gray!important;
	line-height: 20px!important;
}

.maintable-row-wrapper-date.maintable-row-wrapper-date:hover {
	background-color: white!important;

}

.maintable-row-block {
	box-sizing: border-box;
	font-size:15.5px;
/*	float: left;*/
white-space: normal;
	height: 28px;
	/*border-radius: 4px;*/
/*	border: 1px solid black;*/
	vertical-align: middle;
	display: table-cell;
	overflow: hidden;
}
.maintable-row-details {
	/*width: 100%;*/
	/*background-color: #c2dbff;*/
	margin-left: 11px;
	margin-right: 10px;

}
.maintable-row-details-inner {

	position: relative;
	margin-left: 50px;
	-webkit-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
/*	margin: 10px;
	padding: 10px;*/
/*	border: 1px solid #6c6c6c;*/
	border-bottom-left-radius: 10px;
	margin-bottom: 50px;
	padding-bottom: 10px;
	padding-left: 15px;
}

.maintable-row-block-word {
	width: 17px;
	font-weight: 600;
}
.maintable-row-block-date {
	width: 93px;
	padding-left:5px;
	padding-right:5px;
	white-space: nowrap;
/*	overflow: hidden;*/
	font-size: 12px;
	font-weight: 300;
}

.maintable-row-block-dash {
	width: 9px;
	font-weight: 600;
}
.maintable-row-block-number {
	width: 50px;
	font-weight: 600;
}
.maintable-row-block-contragent {
	/*width: 250px;*/
	font-weight: 300;
	white-space: nowrap;
	overflow: hidden;
}
.maintable-row-block-description {
/*	display: block!important;*/
	white-space: nowrap;
	overflow: hidden;
	overflow: hidden;

/*width: 350px;*/
}

.trafficlights {
	font-weight: 300;
	text-align: center;
	font-size: 11px;
	text-transform: uppercase;
	width: 28px;
	border-radius: 30%;
}
.trafficlights-wrapper{
	flex: 0 0 351px;
/*	width: 351px;*/
/*	float: right;*/

	display: table-cell;
}
.trafficlights-green {
	background-color: #bfe8c5;
}
.trafficlights-yellow {
	background-color: #FCF5B3;

}
.trafficlights-red {
	background-color: #fdd2cf;
}
.trafficlights-gray {
	background-color: #eeeeee;
}
.trafficlights-roud {
/*	width: 28px;
	height: 28px;*/
	border-radius: 30%;
	font-weight: 600;
	color: gray;
}
.maintable-row-block-summ {
	padding-right: 5px;
	box-sizing: border-box;
	min-width: 85px;
	width: 85px;
	text-align: right;
	white-space: nowrap;
	border-radius: 8px;
}
.read-less, .read-less:hover {
	background-color: #c2dbff!important;
	box-sizing: border-box;
	-webkit-box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60,64,67,.3), 0 1px 3px 1px rgba(60,64,67,.15);
	/*border-radius: 5px;*/
}

/*отодвигалка для блоков, если нужно промежуток сделать*/
.trafficlights-spacer {
	width: 3px;
}

.details-row-wrapper {
	border-bottom: 1px solid #e8ebf1;
	padding-left: 8px;
}
.details-block {
	vertical-align: middle;
	display: table-cell;
	/*outline: 1px solid gray;*/
	text-align: center;
	text-wrap: none;
	white-space: nowrap;
/*	display: inline-block;*/
	float: left;
	overflow: hidden!important;
}
.details-row {
	vertical-align: middle;
/*	display: block;*/
	width: 100%;
	display: inline-block!important;
	/*border:  1px solid black;*/
}
.details-block.work-name {
/*	border-left: 5px solid black;*/
	text-align: left;
	width: 200px;
	font-weight: 500;
	font-size: 14px;
	line-height: 14px;
/*	background-color: #84bbdf;*/
	padding-left: 0px;
/*	border-radius: 2px;*/
}
.details-block.work-name p {
	margin-left: 10px;
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	white-space: normal;
}
.details-block.work-tech {
	width: 150px;
	line-height: 16px;
}
.details-block.work-shir-vis {
	display: block;
	font-size: 12px;
	width: 40px;
	line-height: 12px;
}
.details-block.work-color {
	line-height: 14px;
	width: 40px;
}
.details-block.work_media {
	width: 130px;
	/*outline: 1px solid black;*/
	overflow: auto;
	font-size: 12px;
	line-height: 12px;

}
.details-block.postprint {
	text-align:left;
	overflow: visible;
	width: 300px!important;
	white-space: normal;
	font-size: 12px;
	line-height: 12px;
	font-weight: 400;
	text-transform: lowercase;
}
.details-block.work-price {
	width: 60px;
	font-weight: 300;
	text-align: right;
	font-size: 16px;
	line-height: 16px;
}
.details-block.work-count {
	width: 60px;
	font-weight: 300;
	text-align: right;
	font-size: 16px;
	line-height: 16px;
}
.details-block.work-summ {
	 width: 85px;
	 font-weight: 500;
	 text-align: right;
	 font-size: 18px;
	 line-height: 18px;
 }

.search-col {
	position: fixed;
	box-shadow: 0 0 6px 3px rgba(200, 200, 200, 1);
	display: block;
	margin-top: 10px;
	z-index: 1000000;
}
.searchRow {
/*	height: 20px;
	margin-top: 30px;*/
	margin-left: 0px;
	white-space: normal;
	width: 600px;
/*	position: absolute;*/
	background-color: #F9F9F9;
	outline: 1px solid #e8ebf1;
	padding: 4px;
	padding-left: 8px!important;
	transition: 0.3s;

}
.searchRow a {
	text-decoration: none;
	display: inline-block;
	color: #111111;
	font-weight: 500;
	font-size: 18px;
	width: 100%;
	height: 25px;
	padding-top: 5px;
}
.searchRow:hover {
	box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
	background-color: #cecece;
	border: 1px soid gray;
}
.searchResults_showlist {
	position: absolute;
	top: 60px;
	left: 135px;
}
.clientcard-left {
	float: left;
	width: 400px;

}
.clientcard-right{
	float: left;
	width: 550px;

}
.clientcard-wrapper {
	display: inline-block;
	position: relative;
	border-bottom: 2px solid gray;
}
.table-order-details {
	width: 1400px;
}
.table-order-details th,td{
	border: 0px solid gray;
	text-align: left;

}
.table-order-details .work-name{
	width: 320px;

}
.work-name p{
	font-size: 12px;

}

/*
@media screen and (max-width: 700px){
	.maintable-row-block-description {
		width:50px!important;
	}

}*/
.cashboxBlank:visited {
	color: green;
}
.details-ajax {
	font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	margin-left: 40px;
/*	margin-top:5px;*/
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
/*	padding: 8px;*/
	background-color: white;
}

.details-ajax__row {
	border-left: 5px solid red;
	height: 25px;
	display: flex;
	width: 100%;
	padding-left: 15px;
}

.details-ajax__header{
	display: flex;
	width: 100%;
	background-color: #e4e6e8;
}
.ajax-header {
	border-left: 5px solid red;
	padding: 8px;
	display: flex;
	align-items: flex-end;
}

.ajax-header__ordernumber {
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
}

.details-ajax__orderdesc{
	width: 100%;
	font-size: 12px!important;
	background: none!important;
	padding-left: 15px;
	border-left: 5px solid red;
	padding-top: 20px;
}
.details-ajax__orderdesc h1 {
	font-size: 20px;
	line-height: 20px;
	font-weight: 500;
}

.ajax-header__contragent {
	line-height: 16px;
	font-size: 16px;
	font-weight: 400;
	margin-left: 25px;
}
.ajax-fullinfo {
	width: 100%;
	display: flex;
	background-color: #efefef;
	border-left: 5px solid red;
	border-bottom: 5px solid red;
	flex-wrap: wrap;
}

.ajax-fullinfo__req {
	width: 100%;
	font-size: 16px;
	/*font-family: "Courier New";*/
	padding: 5px;
	padding-left: 10px;
	text-align: justify;
}
.ajax-fullinfo__req summary{
	cursor: pointer;
}



.resp-tab {
	border-radius: 5px;
	font-weight: normal;
	border: none;
	border-collapse: collapse;
	width: 70%;
}
.resp-tab th, .resp-tab td {
	padding: 5px 5px;
	font-size: 13px;
	border: none;
	font-family: Verdana, sans-serif;
	border: 1px solid #337AB7;
	vertical-align: top;
	max-width: 300px;
}
.resp-tab th {
	color: #FFF;
	background: #337AB7;
	font-weight: bold;
	border: 1px solid #1a4a73;
	text-align: center;

}
.resp-tab tr:last-child {
	background: #edf7ff;
}
.resp-tab td span {
	background: #337ab7;
	color: #FFF;
	display: none;
	font-size: 11px;
	font-weight: bold;
	font-family: Verdana, sans-serif;
	text-transform: uppercase;
	padding: 5px 10px;
	position: absolute;
	top: 0;
	left: 0;

}

.ajax-table {
	display: flex;
	justify-content: initial;
	width: 100%;
	padding: 5px;
	padding-left: 10px;
	border-left: 5px solid red;
}
.dopinfo {
	display: flex;
	flex-direction: column;
	padding-left: 15px;
}
.dopinfo__block {
	margin-bottom: 5px;
	padding: 5px;
	min-width: 150px;
	border: 1px solid gray;
	border-radius: 3px;
	display: inline-block;
}
.dopinfo__block--count {
	color: gray;
	text-align: right;
}
.dopinfo__block--amount {
	 color: gray;
	text-align: right;
 }
.dopinfo__block--dolg {
	color: red;
	text-align: right;
}

.ajax-buttons {
	padding-top: 5px;
	padding-left: 10px;
	border-left: 5px solid red;
	background: none!important;
}
.noscreen {
	visibility: hidden;
}