/* CSS Document */
.radiusdiv {
	border: 1px solid #434343;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}



.master_content_table tr:hover{
	background-color: #EFEFEF;
	
}

body {font-family: "Helvetica Neue";}
textarea {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
	font-size: 14px;
}
.left-col, /* левая колонка */
.right-col/* правая колонка */
{
width: 50%; /* ширина */
min-width: 180px; /* минимальная ширина сужения */
height: auto; /* высота */
box-sizing: border-box;
float: left; /* плавающие блоки */
}
.left-col{
padding-right: 10px; /* отступ справа */
}
.right-col{
padding-left: 10px; /* отступ слева */
}

/*Cтили для маленьких мониторов*/
@media (max-width: 479px){
.left-col, /* левая колонка */
.right-col/* правая колонка */
{
width: 100%; /* ширина */
}
.right-col{
padding-left: 0px; /* отступ слева */
}
}
/* clearfix сбрасывает float*/
.clearfix:after {
content: " ";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

.inp{
    margin: 0;
    padding: 0;
    width: 92%;
}

.header {
	width: 1350px;
	border: 1px dotted black;
}
.content {
	width: 900px;
	float: left;
	border: 1px dotted black;
}
.sidebar {
	width: 450px;
	border: 1px dotted black;
	margin-left: 900px;
}
.footer {
	width: 1350px;
	border: 1px dotted black;
}
.orderlist {
	border: 1px dashed black;
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	font-size: 12px;
}
.orderlist h1 {
	display: inline;
	font-size: 18px;
	color: red;
	
}
.orderlist td {
	border: 1px dashed black;
}

details summary {
  display: block;  /* у summary по умолчанию свойство display в значении list-item, потому поддерживается свойство list-style */
  width: 10em;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;  /* блок раскрывается при щелчке по кнопке, а не по всей строке */
  ;  /* подводка точками или тире часто используется для элементов, с которыми пользователю предлагается взаимодействовать, можно заменить на text-decoration */
  outline-style: none;  /* удалить обводку при фокусе */
  cursor: pointer;
}
details summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
  display: none;
}

.filter summary:hover {
  color:#ff3200;  /* изменение цвета метки при наведении */
}

	